@model Book_Store.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h2>Insert Book DataBase</h2>

<h4>Book</h4>

<div class="Insert-Page-Image-book">
    <img src="https://cdn.dribbble.com/users/846207/screenshots/4533621/flippingbook.gif" alt="Book" />
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">BookName</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popular" class="control-label"></label>
                <input asp-for="Popular" class="form-control" />
                <span asp-validation-for="Popular" class="text-danger"></span>
            </div>
            <div class="Button">
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>


<div class="pupliarBook">

    <p class="popH">
        The 6 Most Popular Re-Read Books, According To Goodreads
    </p>
    <div class="poptext">

        <p class="popL">
            Re-reading can be a bit of a controversial topic among book-lovers. Some people seem to think that you haven't really read a book at all until you've read it at least twice. Others consider re-reading to be a waste of time—why read the same book again when there are so many new books out there? Personally, I've always felt that you get something new out of a book each time you re-read it. Maybe it's because I grew up as part of the Harry Potter generation, or because I used to read a random chapter of A Tree Grows in Brooklyn every single night before bed, but re-reading beloved books is just about my favorite way to relax (and, coincidentally, the reason that my bookshelf is an overstuffed nightmare). Here are a few of the most frequently re-read books in the literary canon, according to the "Popular to Reread Books" shelf on Goodreads.
        </p>
    </div>
</div>
<div class="rowbook">
    <div class="childrow1">
        <div>

            <div>
                <p class="prow">
                    1. 'The Great Gatsby' by F. Scott Fitzgerald

                </p>

            </div>


        </div>
    </div>
    <div class="childrow1">
        <div>

            <div>
                <p class="prow">
                    2. 'To Kill a Mockingbird' by Harper Lee

                </p>

            </div>


        </div>
    </div>
    <div class="childrow1">
        <div>

            <div>
                <p class="prow">
                    3. 'Harry Potter and the Sorcerer's Stone' by J.K. Rowling

                </p>

            </div>


        </div>
    </div>

</div>
<div class="rowbook">
    <div class="childrow1">
        <div>

            <div>
                <p class="prow">
                    4. '1984' by George Orwell
                </p>

            </div>


        </div>
    </div>
    <div class="childrow1">
        <div>

            <div>
                <p class="prow">
                    5. 'The Catcher in the Rye' by J.D. Salinger
                </p>

            </div>


        </div>
    </div>
    <div class="childrow1">
        <div>

            <div>
                <p class="prow">
                    7. 'The Hobbit' by J.R.R. Tolkien
                </p>

            </div>

        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
